body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 3px 3px 3px 3px;
	
	background-color: black;
	color: #dedede;
}

input {
	background-color: black;
	border-color: gray;
}

no-content {
	display: none;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.pane {
	margin: 3px 3px 3px 3px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
}

.scroll {
	overflow-y:auto;
}

.border {
	border: 1px #dedede solid;
}

.infobox {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}

.infobox span {
	display: table-cell;
	vertical-align: middle;
}

.item-retrieved {
	color: #b73333;
}
.item-retrieved:hover {
	color: #7c2323;
}

.btn {
	border-radius:0px;
}

.btn-default {
	background-color: black;
	border-color: gray;
	color: #dedede;
}

.btn-default:hover {
	background-color: #252525;
	border-color: gray;
	color: #dedede;
}

.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
	background-color: #3d3d3d;
	border-color: gray;
	color: #dedede;
}

.progress {
    width: 100%;
    position: relative;
    background-color: #3d3d3d;
	border-radius: 0px;
}

.progress-bar {
    width: 100%;
    position: absolute;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
	background-color: #810fb1;
}

.progress-text {
    position: absolute;
    text-align: center;
    width: 100%;
}